<div class="row bg-dark text-light py-5 mt-5">
  <div class="container px-4 px-md-5">
    <div class="row">
      <!-- Logo Section -->
      <div class="col-lg-3 mb-4 text-center text-lg-start">
        <a href="/listing" aria-label="Bootstrap">
          <img src="/logo/Airbnb_Logo_Bélo.svg.png" class="logo mb-3" alt="Airbnb Logo" style="max-width: 150px;">
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2"><h3 class="fw-bold">Need to get in touch?</h3></li>
          <li class="mb-2">Airbnb your home</li>
          <li class="mb-2 text-muted">Created By: <strong>Maulik Kanzariya</strong></li>
        </ul>
      </div>
      
      <!-- Links Section -->
      <div class="col-12 col-lg-2 offset-lg-1 mb-4 text-center text-lg-start">
        <h5 class="fw-bold text-uppercase mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/listing" class="text-decoration-none text-light">Home</a></li>
          <li class="mb-2"><a href="/listing" class="text-decoration-none text-light">All Listings</a></li>
          <li class="mb-2"><a href="/listing/new" class="text-decoration-none text-light">Add New Listing</a></li>
        </ul>
      </div>
      
      <!-- Social Media Section -->
      <div class="col-12 col-lg-2 mb-4 text-center text-lg-start">
        <h5 class="fw-bold text-uppercase mb-3">Social Media</h5>
        <ul class="list-unstyled">
          <li class="mb-3">
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="text-decoration-none text-light">
              <i class="fa-brands fa-square-instagram me-2"></i>Instagram
            </a>
          </li>
          <li class="mb-3">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="text-decoration-none text-light">
              <i class="fa-brands fa-square-facebook me-2"></i>Facebook
            </a>
          </li>
          <li class="mb-3">
            <a href="https://x.com/" target="_blank" rel="noopener" class="text-decoration-none text-light">
              <i class="fa-brands fa-square-x-twitter me-2"></i>Twitter
            </a>
          </li>
          <li class="mb-3">
            <a href="https://www.linkedin.com/in/maulik-kanzariya-96a056342/" target="_blank" class="text-decoration-none text-light">
              <i class="fa-brands fa-linkedin me-2"></i>LinkedIn
            </a>
          </li>
        </ul>
      </div>
      
      <!-- Extra Section -->
      <div class="col-12 col-lg-3 mb-4 text-center text-lg-start">
        <h5 class="fw-bold text-uppercase mb-3">Contact Us</h5>
        <p class="text-muted">Feel free to reach out to us with any queries or feedback. We're here to help!</p>
        <button class="btn btn-outline-light btn-sm">Contact Support</button>
      </div>
    </div>
    <div class="row mt-4 text-center">
      <div class="col">
        <p class="mb-0 text-muted small">© 2025 Maulik Kanzariya. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
