<style>
  .search-btn{
    background-color: #fe424d;
    color: #ffffff;
    border-radius: 7rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #ffffff;
  }
  .search-inp{
    border-radius: 5rem;
    width: 20rem;
    display: flex;
    justify-content: center;
  }
/* Large devices (1200px and above) */
@media (min-width: 1200px) {
  .res {
    margin-left: 18rem;
  }
}

/* Medium devices (992px to 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
  .res {
    margin-left: 5rem;
  }
}

/* Small devices (below 992px) */
@media (max-width: 991px) {
  .res {
    margin-left: 0;
  }
}




</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><img class="logo" id="logo" src="/logo/Airbnb_Logo_Bélo.svg.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">listings</a>
        </div>
        <div class="navbar-nav res">
          <form class="d-flex ms-auto" role="search" method="post" action="/search">
            <input class="form-control me-2 search-inp" name="query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
          

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listing/new">Add your home in list</a>
          <% if(!userData){%>
          <a class="nav-link" href="/singup"><b>Sing Up</b></a>
          <a class="nav-link" href="/login"><b>Sing In</b></a>
          <% }%>
          <% if(userData){%>
          <a class="nav-link" href="/logout" class="btn"><b>Logout</b></a>
          <% }%>
        </div>
      </div>
    </div>
  </nav>