<div class="filters">
    <!-- Trending -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Trending">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </div>
      </button>
    </form>
  
    <!-- Rooms -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Rooms">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </div>
      </button>
    </form>
  
    <!-- Iconic City -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Iconic city">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic city</p>
        </div>
      </button>
    </form>
  
    <!-- Mountain -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Mountain">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-mountain"></i></div>
          <p>Mountain</p>
        </div>
      </button>
    </form>
  
    <!-- Pool -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Pool">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-person-swimming"></i></div>
          <p>Pool</p>
        </div>
      </button>
    </form>
  
    <!-- Camping -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Camping">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </div>
      </button>
    </form>
  
    <!-- Farms -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Farms">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-tractor"></i></div>
          <p>Farms</p>
        </div>
      </button>
    </form>
  
    <!-- Arctics -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Arctics">
        <div class="filter">
          <div class="icone"><i class="fa-regular fa-snowflake"></i></div>
          <p>Arctics</p>
        </div>
      </button>
    </form>
  
    <!-- Nature -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Nature">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-tree"></i></div>
          <p>Nature</p>
        </div>
      </button>
    </form>
  
    <!-- Urban -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Urban">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-city"></i></div>
          <p>Urban</p>
        </div>
      </button>
    </form>
  
    <!-- Beaches -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Beaches">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Beaches</p>
        </div>
      </button>
    </form>
  
    <!-- Luxury -->
    <form action="/search" method="post">
      <button type="submit">
        <input type="hidden" name="query" value="Luxury">
        <div class="filter">
          <div class="icone"><i class="fa-solid fa-wine-glass"></i></div>
          <p>Luxury</p>
        </div>
      </button>
    </form>
  
    <!-- Tax Toggle -->
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
      </div>
    </div>
  </div>
  