*{
    font-family: "Puls Jakarta Sans",sans-serif;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    overflow-x: hidden;
}

.container{
    flex: 1;
}

.img_of_Edit{
    height: 20rem;
    width: 18rem;
}
.add_btn{
    background-color: #fe424d;
    border: none;
    transition: 0.4s ease-in-out;
}
.add_btn:hover{
    border: none;
    background-color: #ee424d;
    color: white;
}

.logo{
    height: 2.5rem;
    width: 8rem;    
}
.navbar{
    padding: 10px 0px;
    color: #222222;
    background-color: rgba(255,255,255, 0.91);
    border-bottom: 1px solid black;
    z-index: 1;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

/* Card */

.card{
    border: none;
    margin: 1rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;
}

.listing-link{
    text-decoration: none;
    color: black;
}

.card-img-overlay{
   opacity: 0;
   background-color: white; 
}

.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}

#map{
    height: 50vh;
    width: 40wh;
}

/* Search style */
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
  }
  .filter .icone {
    font-size: 20px;
    color: #555;
  }
  
  .filter p {
    font-size: 10px;
    font-weight: 500;
    color: #333;
  }
  
  /* Buttons */
  form button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }
  .tax-toggle{
    padding: 1rem;
    border: 1px solid #adadad;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 2rem;
  }
  .tax-value{
    display: none;
  }
  @media (max-width: 768px) {
    .filter {
      width: 100px;
      height: 100px;
    }
  
    .filter .icone {
      font-size: 28px;
    }
  
    .filter p {
      font-size: 12px;
    }
  }

  .pos {
    top: 0;
    position: absolute;
    z-index: 4;
  }
  
  .underline {
    display: block;
    height: 2px;
    background-color: black;
    margin-top: 2px; /* Adds space between underline and message */
    animation: underAnim 4s linear backwards;
  }
  
  @keyframes underAnim {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
    